<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PathPulse — Career Navigator</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
</head>
<body>
    <div class="Register-container">
        <img src="{{ url_for('static', filename='images/download.png')}}" alt="Aspira Logo" class="logo">
        <div class="Register-form">
            <h4>Create Your Account</h4>
            <form action="/signup" method="POST">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required placeholder="Create Username">

                <label for="email">Email</label>
                <input type="email" id="email" name="email" required placeholder="Enter your email">

                <label for="password">Password</label>
                <input type="password" id="password" name="password" required placeholder="Create a password">

                <button type="submit">Sign Up</button>
            </form>
            <p>Already have an account? <a href="/login">Log in</a></p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis rerum possimus minima vel enim necessitatibus, nisi, facere laborum eaque inventore saepe consectetur nemo molestiae voluptates voluptas laudantium nulla odit expedita?</p>
        </div>

    <div class="decorative-images">
      <img src="{{ url_for('static', filename='images2/ITSM_Meeples_Illustration.png')}}" alt="" class="img2">
      <img src="{{ url_for('static', filename='images2/Marketing hero2_690x450px@2x.png')}}" alt="" class="img3">
  </div>
</body>
</html>